.PlacarProjecao {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 1080;
  width: 1920;
  background-image: url("https://github.com/userNanni/Placar/blob/10f62f35e067a4b4558087a1034ce00cbbe5c436/src/assets/image.jpg?raw=true");
  object-fit: cover;
  font-size: calc(1rem + 1vw);
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
